@model IEnumerable<GodzillaRestaurant.Models.Chef>
@{
    ViewData["Title"] = "Chefs";
}

<partial name="Partial/_HeaderPartial.cshtml" />
<div class="p-3 mt-5">
    <h3 class="text-center">List of Chefs</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>Image</th>
                <th>Instagram</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chef in Model)
            {
                <tr>
                    <td>@chef.ChefId</td>
                    <td>@chef.Name</td>
                    <td>@chef.Position</td>
                    <td>
                        @if (chef.Image != null)
                        {
                            <img src="@chef.Image" class="table-img" />
                        }
                    </td>
                    <td>
                        @if (chef.Instagram != null)
                        {
                            <a target="_blank" href="https://www.instagram.com/@chef.Instagram">@chef.Instagram</a>
                        }
                    </td>
                    <td class="table-action-col">
                        <a asp-action="EditChef" asp-route-id="@chef.ChefId" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="DeleteChef" asp-route-id="@chef.ChefId" class="btn btn-danger btn-sm"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                </tr>
            }
            <tr><td colspan="6"><strong>Total: @Model.Count() Chefs</strong></td></tr>
        </tbody>
    </table>
    <button onclick="location.href='@Url.Action("CreateChef", "Admin")'" class="btn btn-primary">Create A Chef</button>
</div>
