@model IEnumerable<GodzillaRestaurant.Models.Testimonial>
@{
    ViewData["Title"] = "Testimonials";
}

<div class="p-3">
    <h3 class="text-center">List of Testimonials</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Position</th>
                <th>Image</th>
                <th>Detail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var testimonial in Model)
            {
                <tr>
                    <td>@testimonial.TestimonialId</td>
                    <td>@testimonial.Name</td>
                    <td>@testimonial.Position</td>
                    <td>
                        @if (testimonial.Image != null)
                        {
                            <img src="@testimonial.Image" class="table-img" />
                        }
                    </td>
                    <td>@testimonial.Detail</td>
                    <td class="table-action-col">
                        <a asp-action="EditTestimonial" asp-route-id="@testimonial.TestimonialId" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="DeleteTestimonial" asp-route-id="@testimonial.TestimonialId" class="btn btn-danger btn-sm"><i class="fa-solid fa-xmark"></i></a>
                    </td>
                </tr>
            }
            <tr><td colspan="6"><strong>Total: @Model.Count()</strong></td></tr>
        </tbody>
    </table>
    <button onclick="location.href='@Url.Action("CreateTestimonial", "Admin")'" class="btn btn-primary">Create A Testimonials</button>
</div>
