<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Specials</h2>
            <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul id="list-special-name" class="nav nav-tabs flex-column">
                    @foreach (Special special in ViewBag.Specials)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#tab-@special.SpecialId">@special.Name</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div id="list-special-content" class="tab-content">
                    @foreach (Special special in ViewBag.Specials)
                    {
                        <div class="tab-pane" id="tab-@special.SpecialId">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>@special.Introduction</h3>
                                    <p class="fst-italic">@special.Description</p>
                                    <p>@special.Detail</p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="@special.Image" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
